.wrapper {
  width: 100%;
}

.droneListHeader {
  margin: rem(16) rem(24);
}

.sortButtons {
  background-color: $grey300;

  border: 1px solid $grey300;
  border-radius: 0 rem(6) rem(6) 0;

  width: rem(82);
}

.sortButton {
  background-color: $background;

  &.active {
    background-color: $grey300;
  }
}

.cards {
  display: flex;

  flex-wrap: wrap;

  overflow-x: scroll;

  background-color: $background;

  padding: rem(2) rem(24) rem(8) rem(24);

  @include bp(webLarge) {
    max-height: rem(1000);

    padding: rem(2) rem(165) rem(8) rem(165);
  }
}
