.card {
  width: rem(260);
  height: rem(305);

  margin-right: rem(23);

  background-color: $white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  margin-top: rem(22);

  background: $white;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
  border-radius: rem(15);
}

.cardImage {
  width: rem(260);
  border-top-right-radius: rem(15);
  border-top-left-radius: rem(15);
}

.cardContainer {
  padding: rem(22) rem(24) rem(16) rem(24);
}

.cardInfo {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: row;
}

.cardInfo div p {
  padding-top: rem(2);
}
