.wrapper {
  width: 100%;
}
.droneListHeader {
  margin: rem(16) rem(24);
}

.content {
  background-color: $background;

  padding: rem(24);

  height: rem(500);

  max-height: rem(1000);

  @include bp(webLarge) {
    max-height: rem(1000);

    padding: rem(24) rem(165);
  }
}
