@import "../fonts/stylesheet.css";
@import "normalize.scss";
@import "breakpoint.scss";
@import "variables.scss";
@import "utils.scss";
@import "common.scss";

* {
  font-size: 10px;
  color: $black;
}

p {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: rem(10);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $background;
  border-radius: rem(10);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: rem(10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
