$html-base: 10;
$rem-base: 10;

$primary: #6308f7;
$background: #f6f9fc;

$success: #27c796;
$warning: #f3bb1c;
$error: #f03738;

$black: #1e2833;
$white: #fff;
$grey300: #e5e9eb;
$grey400: #9aa6ac;
$grey600: #6e7c87;
$green: #3cc13b;

// Font-Sizes
$text112: 112;
$text76: 76;
$text56: 56;
$text40: 40;
$text36: 36;
$text32: 32;
$text28: 28;
$text24: 24;
$text20: 20;
$text17: 17;
$text16: 16;
$text14: 14;
$text13: 13;
$text12: 12;

// Breakpoints
$iphoneSmall: 320px;
$iphoneSemiMedium: 350px;
$iphoneMedium: 375px;
$iphoneLarge: 414px;
$webSmall: 500px;
$webMedium: 800px;
$webLarge: 1080px;
$webXLarge: 1280px;
$webXXLarge: 1900px;
